# Flutter/Dart related
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# Android related
*.keystore
*.jks
*.properties
flutter_bundle/

# iOS/macOS related
Pods/
.itemed/
DerivedData/

# IDE related
.idea/
.vscode/
*.swp
*.swo

# Operating System related
.DS_Store
thumbs.db
desktop.ini